<form action="" class="form-horizontal" [formGroup]="form">

  <div class="form-group">
    <div class="col-sm-12">
      <label for="name" class="control-label required">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
      <div class="err" *ngIf="!this.form.get('name').valid && this.form.get('name').touched">
        Please Enter a Name
      </div>     
    </div>  
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="email" class="control-label required">Email</label>
      <input type="text" id="email" class="form-control" formControlName="email">
      <div class="err" *ngIf="!this.form.get('email').valid && this.form.get('email').touched">
        Please Enter a Valid Email
      </div> 
    </div>  
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="password" class="control-label required">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password">
      <div class="err" *ngIf="!this.form.get('password').valid && this.form.get('password').touched">
        Please enter a password  with 6 or more characters
      </div> 
    </div>  
  </div>

  <button mat-raised-button="" type="submit"  (click)="signUp()" [disabled]="!form.valid">
    Sign up
  </button>
  <button mat-button (click)="reset()">Clear</button>

  <div class="err" *ngIf="emailTaken">
    Email already in use.
  </div>
</form>
