<form class="form-horizontal" [formGroup]="form">
  
  <div class="form-group">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
      <input type="text" id="email" class="form-control" formControlName="email">
      <div class="err" *ngIf="!this.form.get('email').valid && this.form.get('email').touched">
        Please Enter a Valid Email
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="password" class="control-label">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password">
    </div>
  </div>

  <button mat-stroked-button type="submit" [disabled]="!form.valid" (click)="signInWithEmail()">Login</button>
  <button mat-button (click)="reset()">Clear</button>

  <div class="err" *ngIf="loginFailed">
    Email or password is incorrect
  </div>
</form>
