<!--suppress ALL -->
<ng-template #roomInfo let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Room Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form action="" class="form-horizontal" [formGroup]="form">

      <div class="form-group">
        <div class="col-sm-12">
          <label for="roomName" class="control-label required">Room name:</label>
          <input type="text" id="roomName" class="form-control" formControlName="roomName">
          <div class="err" *ngIf="!this.form.get('roomName').valid && this.form.get('roomName').touched">
            Please Enter a Room Name
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button type="button" [disabled]="!form.valid" (click)="createRoom(); c('Close click')">Create</button>
    <button mat-button type="button" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #joinRoomModal let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Join Room</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form action="" class="form-horizontal" [formGroup]="joinForm">

      <div class="form-group">
        <div class="col-sm-12">
          <label for="roomKey" class="control-label required">Room key:</label>
          <input type="text" id="roomKey" class="form-control" formControlName="roomKey">
          <div class="err" *ngIf="!this.joinForm.get('roomKey').valid && this.joinForm.get('roomKey').touched">
            Please Enter a Room Key
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button type="button" [disabled]="!joinForm.valid" (click)="joinRoom(); c('Close click')">Join</button>
    <button mat-button type="button" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<h2 class="header">{{mate.name}}'s Rooms</h2>
<mat-form-field *ngIf="this.mate.rooms.length > 0">
  <mat-select [(value)]="selectedRoomId" (selectionChange)="selectRoom()">
    <mat-option *ngFor="let room of this.mate.rooms" [value]="room._id">{{ room.name }}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="createRoomModal(roomInfo)">Create Room</button>
<button mat-raised-button (click)="createRoomModal(joinRoomModal)">Join Room</button>
