<p>{{ mate | json }}</p>

<ul>
  <li *ngFor="let mate of mates"><a>{{ mate }}</a></li>
</ul>

<ng-template #roomInfo let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Room Info</h4>
    <button class="close" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form action="" class="form-horizontal" [formGroup]="form">

      <div class="form-group">
        <div class="col-sm-12">
          <label for="roomName" class="control-label required">Room name:</label>
          <input type="text" id="roomName" class="form-control" formControlName="roomName">
          <div class="err" *ngIf="!this.form.get('roomName').valid && this.form.get('roomName').touched">
            Please Enter a Room Name
          </div>
        </div>
      </div>
<!--<div class="modal-footer">
    <button type="button" (click)="createRoom(); c('Close click')" class="btn btn-primary">Create</button>
    <button type="button" (click)="c('Close click')" class="btn btn-light">Close</button>
  </div>-->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="!form.valid" (click)="createRoom(); c('Close click')" class="btn btn-primary">Create</button>
    <button type="button" (click)="c('Close click')" class="btn btn-light">Close</button>
  </div>
</ng-template>

<button (click)="createRoomModal(roomInfo)">Create Room</button>